<h2>Json</h2>
<div id="app">
    <textarea v-model="areaToalert"></textarea>
    <button type="button" @click="toView">button</button></button>
  
    <ul>
        <li v-for="areaToalerts in areaToalert2">
        {{areaToalerts.father}}
        </li>
    </ul>
    <table border='1'>
        <tr v-for="home in homes">
            <td> {{home.father}}</td>
            <td> {{home.mother}}</td>
        </tr>
    </table>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>


<script>
    var app=new Vue({
        el:'#app',
        data:{
            homes:[{father:'a',mother:'a1'},{father:'b',mother:'b1'}],
            areaToalert:JSON.stringify([{father:'a'}]),
            areaToalert2:'',

            //areaToalert2:JSON.parse(this.areaToalert)

        },
        methods:{
            toView:function(){
                var cc=JSON.parse(this.areaToalert);
                this.areaToalert2=cc;
                alert(this.areaToalert2)
            }
        }

    })
</script>